@use "../settings/typography" as ty;

@mixin container($max: 1100px, $pad: 1rem) {
  max-width: $max;
  margin-inline: auto;
  padding-inline: $pad;
}

@mixin full-width {
  box-sizing: border-box;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media (min-width: ty.$bp-sm) {
      @content;
    }
  }

  @if $breakpoint == md {
    @media (min-width: ty.$bp-md) {
      @content;
    }
  }

  @if $breakpoint == lg {
    @media (min-width: ty.$bp-lg) {
      @content;
    }
  }
}
