@use "../settings/colors" as c;
@use "../settings/typography" as t;

* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;

  font-family: t.$font-sans;
  font-size: t.$fs-400;
  line-height: 1.6;
  color: c.$ink;

  background: c.$paper;
}

a {
  color: c.$sf-sky;
  text-decoration: none;
}
a:hover { text-decoration: underline; }
